<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BDSS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bdss.css}">
    <link th:href="@{/css/bootstrap.fd.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/2e070bb969.js"></script>
    <script th:src="@{/js/bootstrap.fd.js}"></script>
    <script th:src="@{/js/bdss.js}"></script>
</head>
<body>
    <div class="wrapper">

        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="row">
                    <div class="col-md">
                        <i class="fa fa-user-circle-o fa-3x" aria-hidden="true" style="color: white;"></i>
                    </div>
                    <div class="col-md">
                        <p style="color: white;">
                            <span th:text="'Hello, ' + ${name}"></span>
                        </p>
                    </div>
                </div>
            </div>

            <ul class="navbar-nav">
                <p>Breast Cancer Detection Decision Support System</p>
                <li >
                    <a href="/api/dashboard/new-diagnosis">New Diagnosis</a>
                </li>
                <li class="active">
                    <a href="">View Diagnosis</a>
                </li>
                <li>
                    <a href="/api/dashboard/support">Support</a>
                </li>
                <li class="settings">
                    <div class="row">
                        <div class="col-3">
                            <a href="#" id="cog" ><i class="fa fa-cog fa-3x" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-6">
                            <p id="version">version 1.0</p>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- Page Content -->
        <div id="content">
            <div class="row">
                <div class="col-lg">
                    <p class="display-4" style="position: relative; top: 20px;">View Diagnosis</p>
                </div>
                <div class="col-md-5  mlr-auto" style="position: relative; top: 35px;">
                    <form action="">
                        <div class="form-row">
                            <div class="col-6">
                                <input type="search" class="form-control" name="search" id="search" placeholder="Search">
                            </div>
                            <div class="col">
                                <input type="submit" class=" btn btn-primary" name="search" id="search" placeholder="">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr id="v_hr">

        </div>

    </div>
</body>
</html>